/* nav */
nav {
    background-color: #333;
    padding: 1rem;
}

nav a {
    color: white;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
}

/* main */
main {
    max-width: 900px;
    margin: 0 auto;
}

/* h1 */
h1 {
    color: #2a4b8d;
}

/* main img (profile image) */
main img {
    width: 200px;
    height: auto;
    border: 2px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 10px #999;
}

/* aside */
aside {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #f3f3f3;
    color: #000;
    text-align: center;
}

/* aside img */
aside img {
    width: 200px;
    height: auto;
}

/* p */
p {
    padding: 0;
}

/* footer */
footer {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    text-align: center;
}
